.forecast {
    margin-inline: 30px;
    margin-left: 10%;
    padding: 20px;
    display: flex;
    overflow-y: hidden;
    max-width: 800px;
    overflow-x: scroll;
}

.forecast::-webkit-scrollbar {
    display: none;
}

.days {
    margin-right: 20px;
    backdrop-filter: saturate(120%) blur(10px);
    border: 5px solid #e6e8ea91;
    border-radius: 6px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-width: 200px;
    transition: transform 450ms;
    text-align: center;
    color: white;
}

.days:hover {
    transform: scale(1.08);
    opacity: 1;

}